.DS_Store

# package manager installs
node_modules/
example/node_modules/
e2e/bzlmod/node_modules/

# Bazel convenience symlinks and outputs
bazel-*
bazel-bin/
bazel-out/
bazel-testlogs/

# local coverage artifacts
coverage/

